@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: Allura;
    src: url(../fonts/Allura-Regular.ttf);
    font-style: normal; 
    font-weight: normal;
}

body {
    margin: 0;
    max-width: 1440px;
}

header {
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 64px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1276px;
    height: 64px;
}

.label_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 40px;

}

.label_box_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 101px;
    height: 32px;
}

.label_text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181C29;
    
    margin: 0;
}

.menu_box {
    display: flex;
    justify-content: space-between;
    width: 376px;
    height: 40px;
}

.menu_item_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 40px;
}

.part_gifts {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181C29;
}

.menu_item_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 40px;
}

.part_about {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181C29; 
}

.menu_item_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 40px;
}

.part_best {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181C29; 
}

.menu_item_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 40px;
}

.part_contacts {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181C29; 
}

.hero {
    width: 1440px;
    height: 524px;
    border-radius: 20px 20px 0px 0px;
    opacity: 0px;
    background-color: #FF4646;
}

.bg_1 {
    background-image: url(../assets/background/snow_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.bg_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/background/ball_bg.png);
    width: 1440px;
    height: 524px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.ball_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 426px;
    height: 404px;
}

.ball_title {
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    
    margin: 60px 0 0 0;
}

.main_title {
    width: 426px;
    height: 144px;

    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.18em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;

    margin: 12px 0 0 0;
}

.main_button {
    width: 235px;
    height: 56px;
    border-radius: 20px;
    background-color: #181C29;
    border: 0px;

    margin-top: 12px;
}

.main_button_text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.ball_text_under {
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;

    margin: 12px 0 0 0;
}

.about {
    display: flex;
    width: 1440px;
    height: 648px;
    background-color: #FF4646;
}

.about_bg {
    width: 1440px;
    height: 648px;
    background-image: url(../assets/background/about_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}